/*
    CASCADING STYLESHEET
*/

/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

h1, h2 {
    color: #000000ee;
}

/* TITULOS */

header h1, main h2 {
    margin-bottom: 70px;
}

main h2 span {
    color: #ff4f4f;
}

.form h2 {
    text-align: right;
    color: #ffffffee;
    font-size: 18px;
}

/* ESTRUTURA */

header, main, footer {
    text-align: center;
}

header, .form, main {
    /* espaçamentos com margin */
    margin: 0 auto 70px auto;

    /* Limites dos elementos na página */
    width: 90%; /* Aplica o 90% se a tela for maior que 500px*/
    max-width: 500px;
}

/* HEADER */

.logo {
    width: 120px;
    margin: 70px 0;
}

header button {
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #ff4f4f;
    color: white;
    font-weight: bold;
    border: none;
}

header p {
    font-size: 14px;
}

/* FORM */

section.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    align-items: center;
    
    background-color: #ff4f4f;
    padding: 16px 64px;
    border-radius: 6px;
}

form input,
form button {
    width: 100%;
    margin-bottom: 4px;
    padding: 8px 16px;
    border: 1px solid #ffffff77;
    border-radius: 4px;
}

form input {
    background-color: transparent;
}

form input::placeholder {
    color: #ffffffaa;
}

form button {
    font-weight: bold;
    background-color: white;
}

/* MAIN */

main .donors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blood {
    color: #ff4f4f;
    font-weight: bold;
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.blood::before {
    content: "";
    background-color: #ff4f4f11;
    width: 40px;
    height: 40px;

    position: absolute;

    /* Gotinha */

    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
}

.donor p {
    margin: 24px 0 64px 0;
    font-size: 14px;
}

/* FOOTER */

footer {
    margin-top: auto;
    padding: 16px;
    border-top: 1px solid #eee;
}

/* Funcionalidade com javascript */

section.form {
    transition: all 0.7s;
}

section.form.hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -70px;
}